.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

/target
/.settings
.metadata
/android-client-screenshots
.todo
bin
gen
gradle.properties
.idea
*.iml


cyberduck
